body, h2, p {
    padding: 0;
    margin: 0;
    background-color: ;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    width: 1150px;
    background: #e7dfd8;
}
.mickey-mouse {
    padding: 100px 0;
}
.mickey-mouse-container {
    display: flex;
    gap: 107px;
}